body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00122c;
}

.login-container {
    background: #feffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #00122c;
}

input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #00122c;
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 17px;
    background-color: #b34100;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff4800;
}

.login-Agenda {
    display: block;
    margin: 0 auto 20px; 
    max-width: 100px; 
}